<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilkita">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobilKita">
        <activity android:name=".DetailMobilActivity">
        </activity>
        <activity android:name=".DaftarMobilActivity"></activity>
        <activity android:name=".PenyewaActivity"></activity>
        <activity android:name=".DetailPenyewaActivity"></activity>
        <activity android:name=".SewaMobilActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>